@import-normalize;

@import url("https://fonts.googleapis.com/css2?family=Questrial&family=Roboto&display=swap");

$red: #ff2700;
$blue: #3f51b5;
$black: #333;
$white: #fff;
$grey: #c1c1c1;
$lightgrey: #d3d3d3;

@mixin center($direction) {
  display: flex;
  flex-direction: $direction;
  justify-content: center;
}

@mixin button($backgroundColor, $color, $borderColor) {
  letter-spacing: 0.04em;
  min-width: 1.5em;
  border-radius: 10em;
  background-color: $backgroundColor;
  color: $color;
  border: 1px solid $borderColor;
  text-transform: uppercase;
  margin: 0.5em 0.5em;
  padding: 5px 10px;
  font-size: 0.9rem;
  cursor: pointer;
}

body {
  font-family: "Questrial", "Roboto", sans-serif;
  font-size: 1.2rem;
  color: $black;
  background-color: whitesmoke;
}

@media (min-width: 1900px) {
  body {
    font-size: 1.5rem;
  }
}

@media (max-width: 600px) {
  body {
    font-size: 1rem;
  }
}

@media (max-width: 400px) {
  body {
    font-size: 0.9rem;
  }
}

div.App {
  min-height: 100vh;
}

/* APP: HEADER */
@media (max-width: 500px) {
  h6.title {
    font-size: 1rem;
  }
}

@media (max-width: 350px) {
  h6.title {
    font-size: 0.8rem;
  }
}

div.MuiToolbar-root {
  display: flex;
  flex-direction: column;
  padding: 20px 0;
  font-weight: bold;
  font-size: 1.3rem;
  background-color: $grey;
  box-shadow: 0;
  color: black;
}

.MuiPaper-elevation4 {
  box-shadow: none;
}

.MuiButton-label {
  font-size: 1rem;
}

/* SEARCH & FILTERING */
div.search,
div.filtering {
  @include center(row);
  width: 100%;
}

@media (max-width: 400px) {
  form.search {
    @include center(column);
  }
}

div.search-filter {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0;
}

form.searchApps {
  display: flex;
}

input[type="text"].search-feature {
  margin-left: 5px;
  padding: 5px;
  border: 1px solid $grey;
  background-color: whitesmoke;
}

button.searchValue {
  margin-left: 15px;

  cursor: pointer;
  font-size: 0.9rem;
  background: transparent;
  border: 1px solid $black;
  padding: 5px;
}

@media (max-width: 400px) {
  button.searchValue {
    margin-top: 15px;
  }
}

div.filtering {
  width: 100%;
  margin-top: 20px;
  @include center(row);
  flex-wrap: wrap;
}

.filter {
  @include button(black, $white, transparent);
}

.selected {
  background: whitesmoke;
  border: 1px solid black;
  color: black;
  outline: none;
}

button.reset {
  @include button($grey, black, transparent);
  outline: none;
}

div.filtering {
  display: flex;
  align-items: center;
}

/* SPACEX DATA */
div.details {
  width: 50%;
  @include center(column);
}

@media (max-width: 700px) {
  div.details {
    width: 60%;
  }
}

span.details {
  display: block;
  margin-bottom: 5px;
  word-break: break-word;
}

.name {
  font-weight: bold;
}

a.details,
a.details:visited {
  color: $blue;
}

a.details:hover {
  color: $black;
}

div.launch {
  @include center(row);
  border: 1px solid $grey;
  border-bottom: none;
  border-left: none;
  border-right: none;
  padding: 15px 0;
}

img.ship-image {
  width: 10%;
  height: auto;
  object-fit: contain;
}

@media (max-width: 920px) {
  img.ship-image {
    width: 15%;
  }
}

@media (max-width: 700px) {
  img.ship-image {
    width: 25%;
  }
}

.info {
  font-style: italic;
  width: 65%;
}

/* DATA VIZ */
div.data-viz-container {
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  padding-top: 100px;
}

@media (max-width: 1000px) {
  div.data-viz-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
  }
}

div.single-chart {
  height: 50%;
}

@media (max-width: 1000px) {
  div.single-chart {
    margin-bottom: 20px;
  }
}

.padding-right {
  padding-right: 30px;
}

.padding-left {
  padding-left: 30px;
}

@media (max-width: 1000px) {
  .padding-right {
    padding-right: 0;
  }

  .padding-left {
    padding-left: 0;
  }
}

/* LOADING & ERROR  */
span.loading,
span.error {
  width: 100%;
  display: inline-block;
  margin-top: 20px;
  text-align: center;
}

span.error {
  color: $red;
}

/* INFO COMPONENT  */
div.info-container {
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  padding-top: 30px;
}

p.info-component {
  width: 40%;
  font-size: 1.3rem;
  line-height: 1.3;
}

@media (max-width: 700px) {
  p.info-component {
    width: 80%;
  }
}

a.underline,
a.underline:active,
a.underline:visited {
  color: black;
}

a.underline:hover {
  color: $grey;
}
